<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings />

    <system.web>
        <!-- Security through obscurity, remove X-AspNet-Version HTTP header -->
        <httpRuntime enableVersionHeader="false" />
    </system.web>

    <system.webServer>
        <!-- GZip static file content. Overrides server default which only compresses static files over 2700 bytes
        staticTypes ref:
        www.iis.net/configreference/system.webserver/httpcompression -->
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" minFileSizeForComp="1024">
            <scheme name="gzpi" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <staticTypes>
                <!-- clear types for portability -->
                <clear />
                <!-- all add elements have a default enabled=true attr
                msdn.microsoft.com/en-us/library/bb386530(v=vs.90).aspx -->
                <add mimeType="text/*" />
                <add mimeType="message/*" />
                <add mimeType="application/javascript" />
                <add mimeType="application/json" />
                <add mimeType="application/rss+xml; charset=UTF-8" />
                <add mimeType="application/xml; charset=UTF-8" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>

        <!-- security -->
        <directoryBrowse enabled="false" />
        <!-- muting error messages, ref:
        www.iis.net/configreference/system.webserver/validation -->
        <validation validateIntegratedModeConfiguration="false" />
        <!-- run configured modules on all requests, ref:
        www.iis.net/configreference/system.webserver/modules -->
        <modules runAllManagedModulesForAllRequests="true" />
        <!-- urlCompression ref:
        www.iis.net/configreference/system.webserver/urlcompression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <staticContent>
            <!-- don't cache mutable files in this directory (e.g. index.html, m.appcache)
            overridden by cache directions in web.config of subfolders for static assets like images
            clientCache ref:
            www.iis.net/configreference/system.webserver/staticcontent/clientcache -->
            <clientCache cacheControlMode="DisableCache" />
            <!-- use utf-8 encoding for anything served text/plain or text/html -->
            <!-- mimeMap ref:
            www.iis.net/configreference/system.webserver/staticcontent/mimemap -->
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".rss" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
            <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
            <remove fileExtension=".xml" />
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
            <!-- HTML5 Audio/Video mime types-->
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <remove fileExtension=".ogg" />
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
            <remove fileExtension=".ogv" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <remove fileExtension=".webm" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <!-- Proper svg serving. Required for svg webfonts on iPad -->
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <remove fileExtension=".svgz" />
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
            <!-- HTML4 Web font mime types -->
            <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
            <remove fileExtension=".ttc" />
            <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <!-- Flash Video mime types-->
            <remove fileExtension=".flv" />
            <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
            <remove fileExtension=".f4v" />
            <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
            <!-- Assorted types -->
            <remove fileExtension=".ico" />
            <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
            <remove fileExtension=".webp" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <remove fileExtension=".appcache" />
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <remove fileExtension=".manifest" />
            <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
        </staticContent>

       <!-- can't remove the server header with just web.config
        but can send it as a blank, h/t:
        stackoverflow.com/questions/1178831/remove-server-response-header-iis7#answer-12615970 -->
        <rewrite>
            <outboundRules>
            <!-- remove ETags part I, we use far-future expires headers instead -->
            <rule name="Remove ETags">
                <match serverVariable="RESPONSE_ETag" pattern=".+" />
                <action type="Rewrite" value="" />
            </rule>
              <rule name="Remove RESPONSE_Server" >
                <match serverVariable="RESPONSE_Server" pattern=".+" />
                <action type="Rewrite" value="" />
              </rule>
            </outboundRules>
        </rewrite>

        <!-- httpProtocol ref:
        www.iis.net/configreference/system.webserver/httpprotocol -->
        <httpProtocol allowKeepAlive="true">
            <customHeaders>
                <!-- A little extra security (by obscurity) -->
                <remove name="X-Powered-By" />

                <!--
                # X-XSS-Protection
                The X-XSS-Protection header is used by Internet Explorer version 8+
                The header instructs IE to enable its inbuilt anti-cross-site scripting filter.
                If enabled, without 'mode=block', there is an increased risk that
                otherwise non-exploitable cross-site scripting vulnerabilities may potentially become exploitable
                -->
                <add name="X-XSS-Protection" value="1; mode=block"/>

                <!--
                Force the latest IE version, in various cases when it may fall back to IE7 mode
                github.com/rails/rails/commit/123eb25#commitcomment-118920
                Use ChromeFrame if it's installed for a better experience for the poor IE folk
                -->
                <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />

                <!-- remove ETags part II -->
                <remove name="ETag" />
            </customHeaders>
        </httpProtocol>

    </system.webServer>
</configuration>
