<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- override no cache directive in parent web.config
            far future expires header, 2 months
            this Microsoft Support article from 2006 does condone the static directory approach: support.microsoft.com/kb/247389 -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="60.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
