<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- override no cache directive in parent web.config
            far future expires header, 2 months -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="60.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>